html, body {
    width: 100%;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

/*gradient*/
body {
    background: linear-gradient(-50deg, #98DDCA, #D5ECC2, #FFD3B4, #FFAAA7, rgb(24, 24, 24));
    background-size: 400% 400%;
    animation: moving 15s ease-in-out infinite;
}

/*gradient animation*/
@keyframes moving {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

header {
    height: 75px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
}

#nameBox {
    flex: 0 0 285px;
    width: 25vw;
    height: 55px;
    background-color: #98DDCA;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: rgb(24, 24, 24)
}

/*nav flex container*/
nav {
    height: 75px;
    width: 75vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navBox {
    flex: 0 1 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    width: 50vw;
    background-color: #98DDCA;
    border-radius: 5px 0 0 5px;
}

button {
    height: 35px;
    width: 20%;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 4px;
    background: #FFAAA7;
    font-weight: 500;
    color: rgb(24, 24, 24)
}

button:hover {
    border: 1px solid rgb(24, 24, 24);
    box-shadow: 0 0 10px rgb(24, 24, 24);
    animation: rotate 0.4s linear infinite;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(3deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-3deg);}
    100% {transform: rotate(0deg);}
  }